.wd-pfp {
    width: 48px;
    height: 48px;
}

.wd-search-icon {
    width: 40px;
    height: 40px;
    z-index: 1;
}

.wd-gear-icon {
    width: 40px;
    height: 40px;
}

.form-control {
    height: 40px;
    text-indent: 30px;
}

.wd-more-icon {
    font-size: 50%;
    margin-left: -4px;
    margin-right: -4px;
}

.wd-bottom-left {
    bottom: 0;
    left: 8px;
}

.wd-tuit-img {
    width: 84px;
    height: 84px;
}
