.wd-bg-color-black{
    background-color: black;
}

.wd-bg-color-dark-grey {
    background-color: darkgray;
}

.wd-fg-color-white { 
    color: white; 
}

.wd-fg-color-link {
    color: rgb(110, 118, 125)
}

.wd-margin-left {
    margin-left: 16px;
}

.wd-margin-right {
    margin-right: 16px;
}

.wd-gear {
    margin-top: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    float: right;
    text-decoration: none;
}

.input {
    border-style: hidden;
    margin-top: 16px;
    width: calc(100% - 64px);
    height: 30px;
    border-radius: 10px;
    float: left;
}

.wd-search-bar {
    /* border: 2px solid white; */
    height: 50px;
}

.wd-hyperlinks {
    height: 50px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 2px solid darkgray;
}

.wd-hyperlink {
    box-sizing: border-box;
    font-size: 15px;
    height: 100%;
    text-decoration: none;
    /* border: 2px solid green; */
    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wd-for-you {
    color: rgb(29,161,242);
    border-bottom: 2px solid rgb(29,161,242);
}

::placeholder {
    color: white;
}

/* a {
    text-decoration: none;
} */