.wd-bg-color-black {
    background-color: black;
}

.wd-fg-color-white { 
    color: white;
}

.wd-fg-color-gray {
    color: rgb(110, 118, 125);
}

.wd-margin-left {
    margin-left: 16px;
}

.wd-font-size-13px {
    font-size: 13px;
}