body {
    --border-color: rgb(47, 51, 54);
}

.wd-margin-top {
    margin-top: 12px;
}

.wd-font-size-20px {
    font-size: 20px;
}

.wd-font-size-15px {
    font-size: 15px;
}

.wd-font-size-13px {
    font-size: 13px;
}

.wd-bold {
    font-weight: bold;
}

.wd-header {
    border-bottom: 1px solid var(--border-color);
    line-height: 0.5;
    padding: 12px 0;
}

.wd-pfp {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    float: left;
}

.wd-tuit {
    margin-left: calc(48px + 12px + 16px);
}

.wd-content {
    width: max(504px);
}

.wd-article {
    border: 1px solid var(--border-color);
    width: 504px;
    border-radius: 20px;
    margin-left: calc(48px + 12px + 16px);
}

.wd-author {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.wd-art {
    width: 504px;
    height: 264px;
    border-radius: 20px 20px 0 0;
    border: 1px solid var(--border-color)
}

.wd-article-desc {
    padding: 12px;
}

.wd-icons {
    margin-left: calc(48px + 12px + 16px);
    width: 504px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wd-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: gray;
}

.wd-retuit {
    font-size: 24px;
}

.wd-heart {
    color: red;
}

